<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hotel Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Royal Luxury Stay - Online Booking Smart Responsive HTML5 Template">
    <meta name="keywords" content="accommodation,apartment,B&B,bed and breakfast,booking,hostel,inn,motel,reservation,reservation form,resort,responsive,spa,travel,bootstrap,cruise,flights,holiday,hotel,html5 template,online booking,real estate,rentals,tour,tourism,uber">

    <link rel="apple-touch-icon" sizes="180x180" href="../../static/app/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/app/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/app/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../static/app/images/favicons/manifest.json">
    <link rel="mask-icon" href="../../static/app/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    
    <!-- CSS Files ================================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/jquery-ui-date.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/form-wizard.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/color.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/style.css" />
    <!-- Javascript Files ================================================== -->
    <script type="text/javascript" src="../../static/app/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../../static/app/js/jquery-ui-date.js"></script>
    <script type="text/javascript" src="../../static/app/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../../static/app/js/slick.min.js"></script>
    <!-- Date Javascript Files -->
    <script type="text/javascript" src='../../static/app/js/moment.min.js'></script>
    <script type="text/javascript" src='../../static/app/js/fullcalendar.js'></script>
    <!-- Theme Functions -->
    <script type="text/javascript" src="../../static/app/js/form-wizard.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="../../static/app/js/themefunction.js"></script>
    <script type="text/javascript" src="../../static/app/js/valid-date.js"></script>
    <script>
    $(document).ready(function(){
        $("next").hover(function(){
            $(this).css("background-color", "#32CD32");
            }, function(){
        $(this).css("background-color", "#0E2646");
            });
    });
</script>
	<script>
        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>
</head>

<body>
    {% block body %}
    <!-- Header Begin -->
    {% include 'includes/_navbar.html' %}
    <!-- Header Close -->
    <section class="rh-check-availability">
            <img src="../../static/app/images/event/event-background.jpg" alt="1">
    </section>
    <!-- Main Content Begin -->
    <div class="rh rh-100 section-booking">
        <!-- Booking Page Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-wizard">
                    <!-- Form Wizard -->
                    <form action="/roombooking/" method="post">
                        <!-- Form progress -->
                        <div class="form-wizard-steps form-wizard-tolal-steps-4">
                            <div class="form-wizard-progress">
                                <div class="form-wizard-progress-line" data-now-value="12.25" data-number-of-steps="4" style="width: 12.25%;"></div>
                            </div>
                            <!-- Step 1 -->
                            <div class="form-wizard-step active">
                                <div class="form-wizard-step-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <p>Choose Your Date</p>
                            </div>
                            <!-- Step 1 -->
                            <!-- Step 2 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon"><i class="fa fa-building-o" aria-hidden="true"></i></div>
                                <p>Choose Your Room</p>
                            </div>
                            <!-- Step 2 -->
                            <!-- Step 3 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                                <p>Reservation</p>
                            </div>
                            <!-- Step 3 -->
                            <!-- Step 4 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                <p>Confirmation</p>
                            </div>
                            <!-- Step 4 -->
                        </div>
                        <!-- Form progress -->
                        <!-- Form Step 1 -->
                        <fieldset style="display: block;">
                            <div class="row">
                                
                                <div class="col-lg-12">

                                    <!-- Check Availability Begin -->
                                    <section class="rh rh-100 check-availability rh-check-availability select-list">
                                        <div class="container">
                                            {% csrf_token %}
                                            <div class="row">
                                                        <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                            <h5>Check in</h5>
                                                            <input type="text" name="checkin" class="form-control" id="datepicker_CIn" title="datepicker" onchange="handler(event);"/>
                                                       </div>
                                                        <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                            <h5>Check out</h5>
                                                                <input type="text" name ="checkout" id="datepicker_COut" class="form-control" onchange="handler(event); date(event);">
                                                        </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 rh-xs-12">
                                                    <h5>Room Type</h5>
                                                    <select name="rooms" class="selectpicker">
                                                        <option value="Royal">Normal</option>
                                                        <option value="Deluxe">Deluxe</option>
                                                        <option value="Royal">Royal</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                    <h5 class="fw-x15">Adults</h5>
                                                    <select name="adults" class="selectpicker">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-2 col-md-2 co-sm-2 col-xs-6 rh-xs-12">
                                                    <h5 class="fw-15">Children</h5>
                                                    <select name="children" class="selectpicker">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
       
                                            </div>
                    
                                        </div>
                                    </section>
                                    <div class="form-wizard-buttons">
                                <button type="submit" id="next" class="btn btn-next">Next</button>
                            </div>
                                    <!-- Check Availability Close -->
                                </div>
                            </div>
                        </fieldset>
                        <!-- Form Step 1 -->
                    </form>
                    <!-- Form Wizard -->
                </div>
            </div>
        </div>
        <!-- Booking Page Close -->
    </div>
    <!-- Main Content Close -->

     <!-- Royal Services and Facilities -->
     <div class="rh section-booking">        
        <!-- About Royal Hotel Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="rh-detail-right">
                        <div class="row rh-flex">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!-- Need Royal Help? Begin -->
                                <div class="rh-need-help">
                                    <h5>Need Royal Help?</h5>
                                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                                    <a href="tel:+919173495648">917 349 5648</a>
                                </div>
                                <!-- Need Royal Help? Close -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-wizard">
                    <div class="rh-detail-left">
                        <!-- Royal Services and Facilities -->
                        <div class="rh-about-hotel rh rh-rsf">
                            <h4>Royal Services and Facilities</h4>
                            <ul class="rh-ul-30">
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>24 hour reception</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Internet point</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Wi-Fi</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Fax service</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Tourist information</p></li>
                                <li class="red"><i class="fa fa-check" aria-hidden="true"></i><p>Bookings for trips</p></li>
                            </ul>
                            <ul class="rh-ul-40">
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Bookings for guided tours</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Bookings for shows and museums</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Concierge</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Night porter</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Left luggage</p></li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Ironing service</p></li>
                            </ul>
                            <ul class="rh-ul-30">
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Hall</li>
                                <li class="red"><i class="fa fa-check" aria-hidden="true"></i><p>Terrace</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Bar</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Breakfast</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i><p>Gluten free breakfast available</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
        <!-- About Royal Hotel Close -->
    <!-- News Letter Begin -->
        <section class="rh rh-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 rh-n-30">
                        <div class="rh-news-sign">
                            <h5>Sign up for Newsletter</h5>
                            <p>Receive News Of Caruso Hotel</p>
                        </div>
                        <div class="rh-news-email">
                            <form class="news-email-form" method="post" action="#">
                                <input type="text" placeholder="Enter your email address..." />
                                <a href="javascript:;"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <div class="rh-news-sign">
                            <h5>Connect with us </h5>
                            <p>Social Media Channel</p>
                        </div>
                        <ul class="news-social">
                            <li><a href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:;"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:;"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:;"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- News Letter Close -->
    <!-- Footer Begin -->
    {% include 'includes/_footer.html' %}
    <!-- Footer Close -->

    <!-- Backe To Top Begin -->
    <div id="back_to_top" class="active">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <!-- Backe To Top Close -->

    {% endblock %}
</body>

</html>