<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hotel Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Royal Luxury Stay - Online Booking Smart Responsive HTML5 Template">
    <meta name="keywords" content="accommodation,apartment,B&B,bed and breakfast,booking,hostel,inn,motel,reservation,reservation form,resort,responsive,spa,travel,bootstrap,cruise,flights,holiday,hotel,html5 template,online booking,real estate,rentals,tour,tourism,uber">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/app/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/app/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/app/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../static/app/images/favicons/manifest.json">
    <link rel="mask-icon" href="../../static/app/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.eot">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.html">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.svg">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.ttf">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.woff">
    <link rel="icon" href="../../static/app/fonts/slick.eot">
    <link rel="icon" href="../../static/app/fonts/slick.ttf">
    <link rel="icon" href="../../static/app/fonts/slick.woff">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Files ================================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/jquery-ui-date.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/form-wizard.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/color.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/style.css" />
    <!-- Javascript Files ================================================== -->
    <script type="text/javascript" src="../../static/app/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../../static/app/js/jquery-ui-date.js"></script>
    <script type="text/javascript" src="../../static/app/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../../static/app/js/slick.min.js"></script>
    <!-- Date Javascript Files -->
    <script type="text/javascript" src='../../static/app/js/moment.min.js'></script>
    <script type="text/javascript" src='../../static/app/js/fullcalendar.js'></script>
    <!-- Theme Functions -->
    <script type="text/javascript" src="../../static/app/js/form-wizard.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="../../static/app/js/themefunction.js"></script>
    <script type="text/javascript" src="../../static/app/js/valid-date.js"></script>

    <script type="text/javascript">
        $(document).ready(function ()
        {    
            //Check if the current URL contains '#'
            if(document.URL.indexOf("#")==-1){
            // Set the URL to whatever it was plus "#".
            url = document.URL+"#";
            location = "#";
            //Reload the page
        window.location.reload(true);
        }
    });
</script>
</head>

<body class="ht">

    <!-- Header Begin -->
    <header class="rh">
        <!-- ========== Top Menu ========== -->
        <div class="rh-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                        <ul class="pull-right">
                            <li>
                               <a href="/login"> <input type="button" id ="login" class="button" value="Login"></a>
                            </li>
                            <li>
                                <a href="/login"><input type="button" id ="register" class="button1" value="Register"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <nav class="rh navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index-2.html"><h2>HMS</h2></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse rh-toggle" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-navbar">
                        <li>
                            <a class="active" href="/">Home</a>    
                        </li>
                        <li>
                            <a  href="/booking">Booking</a>
                        </li>
                        <li>
                            <a  href="/rooms">Rooms</a>
                        </li>
                        <li>
                            <a  href="/restaurant">Restaurant</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Close -->

    <!-- Slider Begin -->
    <section class="rh-banner">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../../static/app/images/home/1.jpg" alt="1">
                    <div class="rh rh-banner-widgets">
                        <div class="container">
                            <div class="row">
                                <div class="rh-banner flex">
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        <h1>Live The Wonderous Life</h1>
                                        <span class="rh-price">From $195 / day</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <a class="book-now" href="available-rooms.html">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../static/app/images/home/2.jpg" alt="2">
                    <div class="rh rh-banner-widgets">
                        <div class="container">
                            <div class="row flex">
                                <div class="col-lg-9 col-md-9">
                                    <h1>Live The Wonderous Life</h1>
                                    <span class="rh-price">From $195 / day</span>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <a class="book-now" href="available-rooms.html">BOOK NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../static/app/images/home/3.jpg" alt="3">
                    <div class="rh rh-banner-widgets">
                        <div class="container">
                            <div class="row flex">
                                <div class="col-lg-9 col-md-9">
                                    <h1>Live The Wonderous Life</h1>
                                    <span class="rh-price">From $195 / day</span>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <a class="book-now" href="available-rooms.html">BOOK NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slider Close -->

    <!-- Main Content Begin -->
    <div class="rh">

        <!-- Check Availability Begin -->
        <section class="rh rh-100 check-availability select-list">
            <div class="container">
                <div class="row">
                    <form action="#" method="post">
                        <div class="col-lg-2-1 col-md-4 col-sm-4 col-xs-4 rh-m-30">
                            <h5>Arrival date</h5>
                            <div class="form-group">
                                <input id="arrivalDate" type="text" name="arrive" value="" class="form-control" placeholder="Check in">
                            </div>
                        </div>
                        <div class="col-lg-2-1 col-md-4 col-sm-4 col-xs-4 rh-m-30">
                            <h5>Departure date</h5>
                            <div class="form-group">
                                <input id="departureDate" type="text" name="arrive" value="" class="form-control" placeholder="Check out">
                            </div>
                        </div>
                        <div class="col-lg-2-1 col-md-4 col-sm-4 col-xs-4 rh-m-30">
                            <h5>Room</h5>
                            <select class="selectpicker">
                                <option>Deluxe Room</option>
                                <option>Royal Room</option>
                                <option>Deluxe Room</option>
                            </select>
                        </div>
                        <div class="col-lg-2-1 col-md-4 col-sm-4 col-xs-4 rh-s-30">
                            <h5>Adults</h5>
                            <select class="selectpicker">
                                <option>1 Adult</option>
                                <option>2 Adult</option>
                                <option>3 Adult</option>
                                <option>4 Adult</option>
                            </select>
                        </div>
                        <div class="rh-clear col-lg-4 col-md-8 co-sm-8 col-xs-8 rh-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-4 rh-xs-3">
                                    <h5>Budget</h5>
                                    <div class="form-group">
                                        <input type="text" name="arrive" value="" class="form-control" placeholder="$ 5000">
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6 col-xs-8 rh-xs-9">
                                    <a class="rh-check-btn pull-right" href="available-rooms.html">Check Availability</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- Check Availability Close -->

        <!-- Featured Rooms Begin -->
        <section class="rh rh-100 rh-featured-rooms">
            <div class="container">
                <div class="row">

                    <!-- Featured Rooms Title -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rh-section-title">
                            <h2>Featured Rooms</h2>
                            <p>Text goes here</p>
                        </div>
                    </div>

                    <!-- Featured Rooms Grid Box -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 rh-mf-30">
                        <div class="rh rh-feature-box">
                            <div class="rh-img">
                                <img src="../../static/app/images/feature/feature_1.jpg" alt="feature_1" />
                                <a href="single-rooms.html"></a>
                            </div>
                            <div class="feature-detail">
                                <h4><a href="single-rooms.html">Single and double Rooms</a></h4>
                                <div class="rating-star">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <span><a href="javascript:;">7 Reviews</a></span>
                                </div>
                                <div class="rh">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>2600 Benjamin Franklin Pkwy, Philadelphia, PA 19130, USA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 rh-mf-30">
                        <div class="rh rh-feature-box">
                            <div class="rh-img">
                                <img src="../../static/app/images/feature/feature_2.jpg" alt="feature_2" />
                                <a href="single-rooms.html"></a>
                            </div>
                            <div class="feature-detail">
                                <h4><a href="single-rooms.html">Triple and Executive Rooms</a></h4>
                                <div class="rating-star">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <span><a href="javascript:;">15 Reviews</a></span>
                                </div>
                                <div class="rh">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>2600 Benjamin Franklin Pkwy, Philadelphia, PA 19130, USA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="rh rh-feature-box">
                            <div class="rh-img">
                                <img src="../../static/app/images/feature/feature_3.jpg" alt="feature_3" />
                                <a href="single-rooms.html"></a>
                            </div>
                            <div class="feature-detail">
                                <h4><a href="single-rooms.html">Deluxe and Royal Rooms</a></h4>
                                <div class="rating-star">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <span><a href="javascript:;">14 Reviews</a></span>
                                </div>
                                <div class="rh">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>2600 Benjamin Franklin Pkwy, Philadelphia, PA 19130, USA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured Rooms Close -->

        <!-- Your stay Begin -->
        <section class="rh rh-100 rh-your-stay">
            <div class="container-fluid">
                <div class="row rh-margin-o">
                    <div class="col-lg-4 col-md-12 half-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="rh-left">
                                        <h2>Your Stay</h2>
                                        <p><span class="rh">We guarantee check-in from 3.00 p.m., but if the room is ready upon your arrival, you are welcome to check-in before. If, on the other hand, the room is not ready when you arrive, you can store your luggage with us at no charge until the room is available.</span></p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 half-right">
                        <div class="row">
                            <div class="rh rh-right">
                                <div class="col-md-6 col-sm-6 col-xs-12 rh-mf-30">
                                    <div class="stay-box">
                                        <img src="../../static/app/images/your-stay1.jpg" alt="your-stay1" />
                                        <a href="single-rooms.html"></a>
                                        <div class="overley">
                                            <div class="stay-detail">
                                                <h5>Luxury Room</h5>
                                                <span>$99 / day</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="stay-box">
                                        <img src="../../static/app/images/your-stay2.jpg" alt="your-stay2" />
                                        <a href="single-rooms.html"></a>
                                        <div class="overley">
                                            <div class="stay-detail">
                                                <h5>Royal Room</h5>
                                                <span>$149 / day</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Your stay Close -->

        <!-- Ournews & Events Begin -->
        
        <!-- Ournews & Events Close -->
    </div>
    <!-- Main Content Close -->

    <!-- Footer Begin -->
    {% include 'includes/_footer.html' %}
    <!-- Footer Close -->

    <!-- Backe To Top Begin -->
    <div id="back_to_top" class="active">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <!-- Backe To Top Close -->

</body>


<!-- Mirrored from bsquaresoft.com/demo/royalluxurystay/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Nov 2018 14:40:14 GMT -->
</html>