<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hotel Ruby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ruby Luxury Stay - Online Booking Smart Responsive HTML5 Template">
    <meta name="keywords" content="accommodation,apartment,B&B,bed and breakfast,booking,hostel,inn,motel,reservation,reservation form,resort,responsive,spa,travel,bootstrap,cruise,flights,holiday,hotel,html5 template,online booking,real estate,rentals,tour,tourism,uber">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/app/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/app/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/app/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../static/app/images/favicons/manifest.json">
    <link rel="mask-icon" href="../../static/app/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.eot">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.html">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.svg">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.ttf">
    <link rel="icon" href="../../static/app/fonts/glyphicons-halflings-regular.woff">
    <link rel="icon" href="../../static/app/fonts/slick.eot">
    <link rel="icon" href="../../static/app/fonts/slick.ttf">
    <link rel="icon" href="../../static/app/fonts/slick.woff">
    <meta name="theme-color" content="#ffffff">
    <!-- CSS Files ================================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/jquery-ui-date.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/form-wizard.css">
    <link rel="stylesheet" type="text/css" href="../../static/app/css/color.css" />
    <link rel="stylesheet" type="text/css" href="../../static/app/css/style.css" />
    <!-- Javascript Files ================================================== -->
    <script type="text/javascript" src="../../static/app/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="../../static/app/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../../static/app/js/jquery-ui-date.js"></script>
    <script type="text/javascript" src="../../static/app/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../../static/app/js/slick.min.js"></script>
    <!-- Date Javascript Files -->
    <script type="text/javascript" src='../../static/app/js/moment.min.js'></script>
    <script type="text/javascript" src='../../static/app/js/fullcalendar.js'></script>
    <!-- Theme Functions -->
    <script type="text/javascript" src="../../static/app/js/form-wizard.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="../../static/app/js/themefunction.js"></script>
    <script>
        $(document).ready(function () {
            $("#login").hover(function () {
                $(this).css("background-color", "#32CD32");
            }, function () {
                $(this).css("background-color", "#357EC7");
            });
            $("#register").hover(function () {
                $(this).css("background-color", "#32CD32");
            }, function () {
                $(this).css("background-color", "#DC143C");
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //Check if the current URL contains '#'
            if (document.URL.indexOf("#") == -1) {
                // Set the URL to whatever it was plus "#".
                url = document.URL + "#";
                location = "#";
                //Reload the page
                window.location.reload(true);
            }
        });
    </script>
    <script type="text/javascript">
        //********** Contact Snazzy Map **********//
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 11,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(17.4933, 78.3915), // New York

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{ "color": "#444444" }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "color": "#f2f2f2" }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "elementType": "all", "stylers": [{ "saturation": -100 }, { "lightness": 45 }] }, { "featureType": "road.highway", "elementType": "all", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#D5A677" }, { "visibility": "on" }] }]
            };
            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using our element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            // Let's also add a marker while we're at it
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(17.4933, 78.3915),
                map: map,
                title: 'Snazzy!'
            });
        }
    </script>
    <script type="text/javascript">
        // DatePicker
        $(function () {
            var $dp1 = $("#datepicker_CIn");
            $dp1.datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: 0
            });
            var $dp2 = $("#datepicker_COut");
            $dp2.datepicker({
                changeMonth: true,
                minDate: 0
            });
            $("#datepicker_CIn").datepicker();
            $("#datepicker_COut").datepicker();
            //Pass the user selected date format
            $("#format").change(function () {
                $("#datepicker_CIn").datepicker("option", "dateFormat: 'yyyy-mm-dd'", $(this).val());
                $("#datepicker_COut").datepicker("option", "dateFormat: 'yyyy-mm-dd'", $(this).val());
            });
        });
        function handler(e) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            today = mm + '/' + dd + '/' + yyyy;
            selected = e.target.value;
            if (selected > today) {
                alert("please selected above today date");
                $('#datepicker_CIn').val('');
                $('#datepicker_COut').val('');
            }
        }
        function date(f) {
            var cin = document.getElementById("datepicker_CIn").value;
            var cout = document.getElementById("datepicker_COut").value;
            if (cout < cin) {
                alert("Check out date cannot be less than check in date");
                $('#datepicker_COut').val('');
            }
        }
    </script>
</head>

<body class="ht">
    {% block body %}
    <!-- Header Begin -->
    <header class="rh">
        <!-- ========== Top Menu ========== -->
        <div class="rh-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                        <ul class="pull-right">

                            {% if 'email' not in request.session %}
                            <li>
                                <a href="/login"> <input type="button" id="login" class="button" value="Login"></a>
                            </li>
                            <li>
                                <a href="/register"><input type="button" id="register" class="button1" value="Register"></a>
                            </li>
                            {% endif %}
                            {% if 'email' in request.session %}
                            <li>
                                <a href="/booking"> <input type="button" id="login" class="button" value="Dashboard"></a>
                            </li>
                            <li>
                                <a href="/logout"> <input type="button" id="logout" class="button1" value="Logout" onclick="logoutFunction()"></a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <nav class="rh navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index-2.html"><h2>Hotel Ruby</h2></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse rh-toggle" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-navbar">
                        <li>
                            <a class="active" href="/">Home</a>
                        </li>
                        <li>
                            <a href="/booking">Booking</a>
                        </li>
                        <li>
                            <a href="/rooms">Rooms</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Close -->
    <!-- Slider Begin -->
    <section class="rh-banner">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../../static/app/images/home/1.jpg" alt="1">
                    <div class="rh rh-banner-widgets">
                        <div class="container">
                            <div class="row">
                                <div class="rh-banner flex">
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        <h1>Live The Wonderous Life</h1>
                                        <span class="rh-price">From Rs.1500/ day</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <a class="book-now" href="available-rooms.html">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../static/app/images/home/2.jpg" alt="2">
                    <div class="rh rh-banner-widgets">
                        <div class="container">
                            <div class="row flex">
                                <div class="col-lg-9 col-md-9">
                                    <h1>Live The Wonderous Life</h1>
                                    <span class="rh-price">From Rs.1500 / day</span>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <a class="book-now" href="available-rooms.html">BOOK NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../static/app/images/home/3.jpg" alt="3">
                    <div class="rh rh-banner-widgets">
                        <div class="container">
                            <div class="row flex">
                                <div class="col-lg-9 col-md-9">
                                    <h1>Live The Wonderous Life</h1>
                                    <span class="rh-price">From Rs.1500 / day</span>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <a class="book-now" href="available-rooms.html">BOOK NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slider Close -->
    <!-- Main Content Begin -->
    <div class="rh">

        <!-- Check Availability Begin -->
        <section class="rh rh-100 check-availability select-list">
            <div class="container">
                <div class="row">
                    <form action="#" method="post">
                        <div class="col-lg-2-1 col-md-4 col-sm-4 col-xs-4 rh-m-30">
                            <h5>Arrival date</h5>
                            <div class="form-group">
                                <input id="arrivalDate" type="text" name="arrive" value="" class="form-control" placeholder="Check in">
                            </div>
                        </div>
                        <div class="col-lg-2-1 col-md-4 col-sm-4 col-xs-4 rh-m-30">
                            <h5>Departure date</h5>
                            <div class="form-group">
                                <input id="departureDate" type="text" name="arrive" value="" class="form-control" placeholder="Check out">
                            </div>
                        </div>
                        <div class="col-lg-2-1 col-md-4 col-sm-4 col-xs-4 rh-m-30">
                            <h5>Room</h5>
                            <select class="selectpicker">
                                <option>Deluxe Room</option>
                                <option>Ruby Room</option>
                                <option>Deluxe Room</option>
                            </select>
                        </div>
                        <div class="col-lg-2-1 col-md-4 col-sm-4 col-xs-4 rh-s-30">
                            <h5>Adults</h5>
                            <select class="selectpicker">
                                <option>1 Adult</option>
                                <option>2 Adult</option>
                                <option>3 Adult</option>
                                <option>4 Adult</option>
                            </select>
                        </div>
                        <div class="rh-clear col-lg-4 col-md-8 co-sm-8 col-xs-8 rh-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-4 rh-xs-3">
                                    <h5>Budget</h5>
                                    <div class="form-group">
                                        <input type="text" name="arrive" value="" class="form-control" placeholder="Rs.5000">
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6 col-xs-8 rh-xs-9">
                                    <a class="rh-check-btn pull-right" href="/booking">Check Availability</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- Check Availability Close -->
        <!-- Featured Rooms Begin -->
        <section class="rh rh-100 rh-featured-rooms">
            <div class="container">
                <div class="row">

                    <!-- Featured Rooms Title -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rh-section-title">
                            <h2>Featured Rooms</h2>
                            <p>Explore the rooms designed to fit your comfort</p>
                        </div>
                    </div>

                    <!-- Featured Rooms Grid Box -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 rh-mf-30">
                        <div class="rh rh-feature-box">
                            <div class="rh-img">
                                <img src="../../static/app/images/feature/feature_1.jpg" alt="feature_1" />
                                <a href="single-rooms.html"></a>
                            </div>
                            <div class="feature-detail">
                                <h4><a href="single-rooms.html">Single and Double Rooms</a></h4>
                                <div class="rating-star">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <span><a href="javascript:;">7 Reviews</a></span>
                                </div>
                                <div class="rh">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>2600 Benjamin Franklin Pkwy, Philadelphia, PA 19130, USA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 rh-mf-30">
                        <div class="rh rh-feature-box">
                            <div class="rh-img">
                                <img src="../../static/app/images/feature/feature_2.jpg" alt="feature_2" />
                                <a href="single-rooms.html"></a>
                            </div>
                            <div class="feature-detail">
                                <h4><a href="single-rooms.html">Deluxe and Executive Rooms</a></h4>
                                <div class="rating-star">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <span><a href="javascript:;">15 Reviews</a></span>
                                </div>
                                <div class="rh">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>2600 Benjamin Franklin Pkwy, Philadelphia, PA 19130, USA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="rh rh-feature-box">
                            <div class="rh-img">
                                <img src="../../static/app/images/feature/feature_3.jpg" alt="feature_3" />
                                <a href="single-rooms.html"></a>
                            </div>
                            <div class="feature-detail">
                                <h4><a href="single-rooms.html">Luxury and Presidential Suites</a></h4>
                                <div class="rating-star">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <span><a href="javascript:;">14 Reviews</a></span>
                                </div>
                                <div class="rh">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>2600 Benjamin Franklin Pkwy, Philadelphia, PA 19130, USA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured Rooms Close -->
        <!-- Your stay Begin -->
        <section class="rh rh-100 rh-your-stay">
            <div class="container-fluid">
                <div class="row rh-margin-o">
                    <div class="col-lg-4 col-md-12 half-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="rh-left">
                                        <h2>Your Stay</h2>
                                        <p><span class="rh">We guarantee check-in from 3.00 p.m., but if the room is ready upon your arrival, you are welcome to check-in before. If, on the other hand, the room is not ready when you arrive, you can store your luggage with us at no charge until the room is available.</span></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 half-right">
                        <div class="row">
                            <div class="rh rh-right">
                                <div class="col-md-6 col-sm-6 col-xs-12 rh-mf-30">
                                    <div class="stay-box">
                                        <img src="../../static/app/images/your-stay1.jpg" alt="your-stay1" />
                                        <a href="single-rooms.html"></a>
                                        <div class="overley">
                                            <div class="stay-detail">
                                                <h5>Luxury Room</h5>
                                                <span>Rs.5000 / day</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="stay-box">
                                        <img src="../../static/app/images/your-stay2.jpg" alt="your-stay2" />
                                        <a href="single-rooms.html"></a>
                                        <div class="overley">
                                            <div class="stay-detail">
                                                <h5>Ruby Room</h5>
                                                <span>Rs.8000 / day</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Your stay Close -->
        <!--  -->
        <div class="rh section-booking">
            <!-- Contact Us Page Begin -->
            <section class="rh rh-100 rh-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="rh-section-title">
                                <h2>Contact Us</h2>
                                <p>Contact Country's Best Budget Hotel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact Us Page Close -->
            <!-- Conatct Us Form Begin -->
            <section class="rh rh-100 rh-contact-form">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="rh-c-form">
                                <div class="form-area">
                                    <form action="#">
                                        <h3>Contact Form</h3>
                                        <div class="row">
                                            <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-6 rh-xs-12">
                                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-6 rh-xs-12">
                                                <input type="text" class="form-control" id="formemail" name="email" placeholder="Email" required>
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-6 rh-xs-12">
                                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-6 rh-xs-12">
                                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                                                <span class="help-block" id="characterLeft">You have reached the limit</span>
                                            </div>
                                            <div class="rh col-xs-12">
                                                <a href="javascript:;" class="rh-check-btn">Submit Form</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15221.19269251784!2d78.3914639!3d17.4932742!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b92f2e1fd8fc012!2sJawaharlal+Nehru+Technological+University+Hyderabad!5e0!3m2!1sen!2sin!4v1558757207491!5m2!1sen!2sin" width="600" height="560" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Conatct Us Form Close -->
            <!-- News Letter Begin -->
            <section class="rh rh-newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 rh-n-30">
                            <div class="rh-news-sign">
                                <h5>Sign up for Newsletter</h5>
                                <p>Receive News Of Caruso Hotel</p>
                            </div>
                            <div class="rh-news-email">
                                <form class="news-email-form" method="post" action="#">
                                    <input type="text" placeholder="Enter your email address..." />
                                    <a href="javascript:;"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <div class="rh-news-sign">
                                <h5>Connect with us </h5>
                                <p>Social Media Channel</p>
                            </div>
                            <ul class="news-social">
                                <li><a href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- News Letter Close -->
        </div>
        <!--  -->
    </div>
    <!-- Main Content Close -->
    <!-- Footer Begin -->
    {% include 'includes/_footer.html' %}
    <!-- Footer Close -->
    <!-- Backe To Top Begin -->
    <div id="back_to_top" class="active">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <!-- Backe To Top Close -->
    {% endblock %}
</body>

</html>